*{
  background: rgb(31, 31, 31);
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.form h1{
  margin-bottom: 20px;
}

.form .data{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form .data input{
  background: white;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  color: black;
}