*{
  background: rgb(31, 31, 31);
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.form h1{
  margin-bottom: 20px;
}

.form .form-data{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form .form-data input{
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  
}

.name, .email, .password {
  background-color: white;
  color: black;
}

.reg {
  background: rgb(0, 164, 44);
  cursor: pointer;
}

.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
  font-size: 30px;
}

.update {
  margin-top: 50px;
  background: white;
  color: black;
  font-size: 20px;
  padding: 15px 10px;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

.update-btn{
  font-size: 20px;
  padding: 15px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: rgb(62, 62, 62);
  cursor: pointer;
}